.Achievements{
	background-color: #588c7e ;
	color: white; 
}
.Interests{
	background-color: #f2e394 ;
}

.Hobbies{
	background-color: #f2ae72 ;
}

.Involvements{
	background-color: #d96459 ;
	color: white;
}